.app.light {
	--bg-color: rgb(223, 223, 223);
	--inverted-bg-color: rgb(50, 50, 50);

	--primary-color: rgb(9, 199, 199);
	--secondary-color: lightblue;

	--inverted-primary-color: green;
	--inverted-secondary-color: rgb(247, 100, 125);
}